@import 'abostruction/variable';
@import 'abostruction/function';
@import 'abostruction/mixin';


@import 'base/base';
@import 'base/utility';
@import 'base/button';
@import 'base/typography';
@import 'base/animation';

@import 'layout/grid';

@import 'components/nav';
@import 'components/showcase';
@import 'components/special';
@import 'components/skill';
@import 'components/test';
@import 'components/news';
@import 'components/education';
@import 'components/about-card';
@import 'components/image';
@import 'components/work-item';
@import 'components/faq';
@import 'components/skill-card';
@import 'components/contact';
@import 'components/details';
@import 'components/pop';
@import 'components/footer';

@import 'pages/about';


body.night,
section.night {
    background: #000 !important;
    color: #fff;
}



section.night .special-item {
    border: 1px solid #fff;
}

// color-mode 
.color-mode {
    height: 22px;
    width: 45px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    position: fixed;
    right: 2rem;
    top: 6.5rem;
    z-index: 110;
    cursor: pointer;
    transition: 0.4s ease;
}

.color-mode::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    left: 1px;
    top: 0;
    transition: 0.4s ease;
}

.color-mode.active {
    border-color: #000;
}

.color-mode.active::before {
    left: 22px;
    background: #000;
}


@import './media/media';
@import './media/media-about/work/work';
@import './media/media-about/about-media';






















// media 
@import 'media/media';