// showcase 
#showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat;
    background-size: 100%; 
    background-blend-mode:screen;
    background-position: center;
     // background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    clip-path: ellipse(99% 60% at 51% 34%);
    font-family: $nunito; 

    .showcase-content {
        padding-top: 1rem;

        h4 {
            font-size: 1.9rem;
            letter-spacing: 2px;
        }

        h1 {
            font-family: $nunito;
            font-size: 5rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 1rem;
            -webkit-text-fill-color: #fff;
        }


 
        #btn-pop {
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }

        p {
            max-width: 700px; 
            margin-bottom: 3.5rem
        }
    }
}
