.section {
  &.pop {
    position: fixed;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    background: rgba(51, 51, 51, 0.352);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;

    .pop-content {
      padding: 5rem;
      background: linear-gradient(45deg, rgb(56, 210, 224), rgb(171, 69, 255));
      width: 65%;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    //   transform: scaleY(0);
      transform-origin: bottom;
      transform: .5s ease-in;
      border-radius: .7rem;
      box-shadow: 1px 1px 7px rgba(51, 51, 51, 0.352);

      .close-pop {
        position: absolute;
        right: 3rem;
        top: 3rem;
        color: #fff;
        cursor: pointer;
        
        i {
            font-size: 3rem;
            transition: 0.3s ease;
          &:hover {
            color: #333;
          }
        }
      }

      .pop-content-text {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h2 {
          font-size: 3.5rem;
          color: rgb(252, 236, 236);
          margin-bottom: 1.7rem;
        }
        p {
          color: rgb(217, 215, 215);
          line-height: 3rem;
          max-width: 700px;
        }
      }
    }
  }
}


.pop.pop-active {
    opacity: 1;
    visibility: visible;
}
